

body {
    /* border: 1px solid red; */
    margin-top: 10%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    /* width: 100%; */
    background: linear-gradient(to right, #ffffff, #ffffff);
}


input {
    cursor: pointer;
    margin-left: 8%;
}


